// Colors

$color-bg = #3f3f3f //background of graphs
$color-body-text = #666
$color-chart-gridline = #3f3f3f
$color-chart-meta = #CCCCCC
$color-chart-axis-text = #EDDD9D //label colors - x and y axis
$color-chart-title-text = #333
$color-chart-zeroline = #333

$color-editor-border = #e2e2e2
$color-editor-fill = #F1F1F1
$color-editor-disabled = #BEBEBE
$color-editor-text = #333333
$color-editor-placeholder = #CACACA

$chart-colors = \
	#EE8B46 \
	#f46a09 \
	#f4771f \
	#EDDD9D \
	#A3C8D1 \
	#63BBD1 \
	#02a9d0 \
	#1BACCE \
	#C6C4C4 \
	#B2B1B1 \
	#E28A86 \
	#DC7070 \
	#CE4952 \
	#999 \
	#666 \
	#ccc

for c, i in $chart-colors
	[data-color-index=\"{i}\"]
		path
			stroke (c)
		rect
			fill (c)
		circle
			stroke (c)
			stroke-width 2px
			fill (c)

	.color-index-{i}
		fill (c)

	rect.color-index-{i}
		fill (c)

	path.color-index-{i}
		stroke (c)

	circle.color-index-{i}
		fill (c)

	rect[data-color-index=\"{i}\"]
		fill (c)

	text[data-color-index=\"{i}\"]
		fill (c)

	g.axis.color-index-{i}
		text
			fill (c)

	.cb-colorpicker-color-{i}
		background-color (c)

	.series-label-{i}
		color (c)

	.series-label-input-{i}
		border-bottom 2px solid (c)
		&:hover, &:focus
			border none
			border-bottom 2px solid (c)
		input
			color (c)

	.cb-toggle.toggled.toggle-{i}
		.cb-toggle-container
			background-color (c)

