
/* latin-ext */
@font-face {
  font-family: 'Khula-Light';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/RobotoCondensed-Light.ttf');
}
/* latin */
@font-face {
  font-family: 'Khula-Light';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/RobotoCondensed-Light.ttf');
}

/* latin-ext */
@font-face {
  font-family: 'Khula-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/RobotoCondensed-Regular.ttf');
}
/* latin */
@font-face {
  font-family: 'Khula-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/RobotoCondensed-Regular.ttf');
}
/* latin-ext */
@font-face {
  font-family: 'Khula-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/RobotoCondensed-Bold.ttf');
}
/* latin */
@font-face {
  font-family: 'Khula-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/RobotoCondensed-Bold.ttf');
}
